h1{
    text-align: center;
    background-color: chartreuse;
    color: crimson;
    margin: 3%;
}

#list{

    color: blueviolet;
    background-color: cornsilk;
    text-align:center;

}

*{

    color: blue;
}

.mani{
     text-align: center;
}